
header{
    width: 100%;
    margin-left:60px;
    margin-bottom:40px;
}

header li {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: #666666;
}
a:link{
   text-decoration: none;
   color: #cccccc;
}
a:visited{
    text-decoration: none;
    color: #cccccc;
 }
div.wrapper{
    border-left: solid 1px;
    border-right: solid black 1px;
}
section{
    float:left;
    display:block;
    width: 650px;
    height:500px;
    border: 2px solid #cccccc;
    position: absolute;
    background-color: white;
    margin-left:60px;
}
aside {
    border: 3px solid #dddddd; 
    padding:10px;
    object-fit: none;
    background-color: white;
    margin-left: 82.3%;
    width:270px;
}
h3 {
    font-size: 20px;
    padding-right:50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;

}
h2 {
    padding-left:15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

body {
    width: 940px;
    padding:0 0 0 40px; 
}  
.clear {
    clear: both;
}
#icons img {
    width:70px;
    height:70px;
}
.mypic {
    float:left;
    padding-right:15px;
    padding-left:15px;
}
#first {
   margin-left:12px;
}
nav {
    margin: auto;
    background-color: #ffffff;
  
}
li {
    float: right;
    display:block;
    padding: 16px;
}
div.top {
    padding-left:16px;
    width: 100%;
    height:70px;
    display: block;
    border-bottom: 2px solid #cccccc;
    background: white;
    padding-right:50px;

}

h1 {
    margin-top: 10px;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    width:300px;
    height:47.2px;
    text-align: center;
    padding-top: 13px;
}
article {
        display: block;
        background-color: white;
        width: 1000px;
        margin-bottom: 30px
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    text-align: center;
    height:40px;
    border-top: 5px solid  #4aaaa5;
}

.span { display: block;
    margin-top: 30px;

}
div#right{
   padding-left:17px;
}
p   {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    word-spacing: 2px;
    line-height: 1.4em;
}

aside+img{
    height:60px;
    width:60px;
}
.footer p{
    color:  #cccccc;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    word-spacing: .1px;

}
div.word a {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* Portfolio Photo Grid */
div.table{
        float: left;
        display: block;
        width: 650px;
        height: fit-content;
        border: 2px solid #cccccc;
        position: absolute;
        background-color: white;
        margin-left: 60px;  
        margin-bottom:60px;    
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .column {
    flex: 50%;
    padding: 0 4px;


  }
  
  .column img {
    margin-top: 8px;
    width: 40%;
    padding: 3%;
    float:left;
    margin-left: 4px;

  }
/* Contact Form */
div#form{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left:25px;
    color: #666666;
}
button {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
}


  @media screen and (max-width: 979px) {
    /* 980px */
    body {
        width: 979px;
        margin: 1%;
        padding:3%
    }   
    .mypic{
        width:20%;
        height: 20%;
    }
    h1{
        width:7%;
    }
    h2{
        width:7%;
    }
    header {
        width: 979px;
    }
    section{
        width: 50%;
    }
    p{
        width: 50%;
        height:70%;
    }
    aside {
        width: 20%;
      }
    footer {
        width: 100%;
    }
  }

  
  @media screen and (max-width: 767px) {
    /* 768 px */
    body {
        width: 767px;
        margin: 1%;
        padding:3%
    } 
    .mypic{
        width:20%;
        height: 20%;
    }
    h1{
        width:7%;
    }
    h2{
        width:7%;
    }
    header {
        width: 767px;
    }
    section{
        width: 50%;
    }
    p{
        width: 50%;
        height:70%;
    }
    aside {
        width: 20%;
      }
    footer {
        width: 100%;
    }
  }

  @media screen and (max-width: 639px) {
    /* 640 px */
    body {
        width: 639px;
        margin: 1%;
        padding:3%
    } 
    .mypic{
        width:20%;
        height: 20%;
    }
    h1{
        width:7%;
    }
    h2{
        width:7%;
    }
    header {
        width: 639px;
    }
    section{
        width: 50%;
    }
    p{
        width: 50%;
        height:70%;
    }
    aside {
        width: 20%;
      }
    footer {
        width: 100%;
    }
  }